In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('sf.txt', delim_whitespace=True, names=['temp_remove', 'b', 'c', 'd'])

In [3]:
dfc = df.drop(labels=['temp_remove'], axis=1)
# or 
# dfc = df.drop(columns='temp_remove')
#

In [4]:
# removing the 1st column
df.drop(columns='temp_remove', inplace=True)

In [5]:
# printing updated frame
df

              b           c         d
0    133.845971  157.117505  0.512437
1    158.144687  176.183822  0.558457
2     51.544718  169.760162  0.510575
3    231.484422  175.936012  0.521277
4    261.129898  177.793589  0.572864
..          ...         ...       ...
295   37.610821  167.888170  0.573674
296  135.771467  171.699155  0.539911
297   85.806861  173.015723  0.530075
298  307.731734  175.211714  0.601896
299   73.525829  176.632544  0.517371

[300 rows x 3 columns]

In [6]:
df_sorted = df.sort_values(by = 'd', axis=0)

In [7]:
# sort the data based on column 3, from smallest to largest numbers
df_sorted.iloc[0:299:,:]

              b           c         d
137   33.022366  177.152426  0.479536
206  168.598430  173.200283  0.483559
107  243.598815  168.099711  0.486081
171   95.037816  173.128390  0.488624
50   236.173826  175.323173  0.499024
..          ...         ...       ...
99   143.034518   90.857161  0.788583
90   132.259899   93.364523  0.794126
83   141.116161   94.380965  0.805936
85   152.392605   89.978192  0.807204
86   142.507802   93.613656  0.831005

[299 rows x 3 columns]

In [12]:
# summing up each column
df.sum(axis=0)

b    44125.215098
c    49821.177995
d      174.181671
dtype: float64

In [13]:
# counting number of lines
df.count()

b    300
c    300
d    300
dtype: int64

In [14]:
# printing the last 40 lines of the data
df.iloc[-40:,:]

              b           c         d
260  106.822200  172.162039  0.576236
261  139.646878  167.672809  0.603193
262   57.361760  174.763209  0.592247
263  200.972607  171.151207  0.538650
264  109.725910  171.539132  0.563148
265  127.722119  166.492916  0.571158
266  248.850657  168.900068  0.569880
267   80.895447  174.504903  0.567849
268  139.443795  171.329694  0.610791
269  113.563035  167.795237  0.562496
270  144.331844  167.391480  0.629625
271   54.512470  167.502433  0.533560
272  119.930895  167.335905  0.619742
273  104.147893  169.183392  0.507004
274  141.091972  168.917419  0.565647
275   86.021267  174.803667  0.569770
276  113.614909  169.417201  0.661654
277  152.350674  164.115576  0.557038
278   56.608702  165.151923  0.544911
279  100.527489  165.899120  0.587116
280  130.545490  162.398406  0.534762
281  118.208460  170.983965  0.620663
282  228.641427  176.224690  0.563159
283  167.537380  169.815236  0.633497
284  141.291033  171.405185  0.586143
285  237.023346  173.759302  0.592263
286  114.039943  159.051335  0.633234
287   59.785099  178.743602  0.530512
288  102.371934  160.507062  0.507881
289  141.984049  172.207130  0.527389
290   76.081956  172.488692  0.515427
291  193.488557  175.714393  0.537894
292  151.697480  167.323858  0.601879
293   58.035481  176.413537  0.591473
294  161.462198  176.871494  0.540627
295   37.610821  167.888170  0.573674
296  135.771467  171.699155  0.539911
297   85.806861  173.015723  0.530075
298  307.731734  175.211714  0.601896
299   73.525829  176.632544  0.517371

In [15]:
df_sorted.shape

(300, 3)

In [16]:
nrow, ncol = df_sorted.shape

In [17]:
f1c4 = open('1c4.txt', 'w')
f2s0 = open('2s0.txt', 'w')
f4c1 = open('4c1.txt', 'w')

flist = [f1c4, f2s0, f4c1]

In [18]:
# extracting the numbers to the respective files based on the reference range provided

for ik in range(nrow):
    v = df_sorted.iloc[ik, :]
    
    if(0<  v[0] < 360) and (150 < v[1]<180):
        flist[0].write('{} {} {}\n'.format(v[0], v[1], v[2]))
    
    elif(135<  v[0] < 165) and (75 < v[1] < 105):
        flist[1].write('{} {} {}\n'.format(v[0], v[1], v[2]))
    
    elif(0<  v[0] < 360) and (0 < v[1]<30):
        flist[1].write('{} {} {}\n'.format(v[0], v[1], v[2]))
    else:
        print("not belong to any group")

not belong to any group
not belong to any group
not belong to any group
not belong to any group
not belong to any group
not belong to any group

In [19]:
for f in flist:
    f.close()